li a{
    
    background-color: blueviolet;
    color: bisque;
    text-decoration: none;
    display: block-inline;
   
    
    
    
}
li{
    display: inline;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   

}
footer{
    list-style-type: none;
    display: inline-block;
    
}
header{
    text-align: center;
    text-transform: capitalize;
    background-color: brown;
    font-size: 36px;
}
body{
    background-color: floralwhite;
}
section{
    
}
