li a{
    
    background-color: blueviolet;
    color: bisque;
    text-decoration: none;
    display: block;
    padding: 8px 50px;
    float: left;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    width: 800px;

}
h1{
    text-align: center;
    text-transform: capitalize;
    background-color: brown;
}
body{
    background-color: floralwhite;
}