li a{
    
    background-color: blueviolet;
    color: bisque;
    text-decoration: none;
    display: block-inline;
   
    
    
    
}
li{
    display: inline;
    size: 18px;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
   
   

}
footer{
    list-style-type: none;
    display: inline-block;
    
}
header{
    text-align: center;
    text-transform: capitalize;
    background-color: brown;
    font-size: 36px;
    margin-top: 0;
    margin-left: 0;
}
body{
    background-color: silver;
}
section{
    height: 500px;
    background-color: purple;
}
.hero{
    
    background-color: aqua;
    float: left;
    width: 33.33%;
    height: 100%;
}
.coldiv{
    height: 100%;
    width:33.33%;
    background-color: red;
}
